@tailwind base;
@tailwind components;
@tailwind utilities;

.sr-only {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

.transitionMN {
    transition: ease 1s;
}

.shadowMN:hover {
    transition: ease-in-out 1s;
    box-shadow: 0 8px 6px -6px rgb(109, 109, 109);
    
}

.shadowMN {
    transition: ease-out 1s;
    box-shadow: 0 2px 6px -6px rgb(109, 109, 109);
}

.label {
    @apply uppercase tracking-wide font-semibold text-xs text-gray-900 mb-2 block;
}

.input {
    @apply p-3 text-gray-800 border border-gray-300 rounded w-full;
}

.input::placeholder {
    @apply text-gray-700;
}

.input:focus {
    @apply shadow outline-none;
    box-shadow: 0 0 0 0.2rem theme('colors.gray.200');
    background-clip: padding-box;
}

.text-cyan {
    color: #008F94;
}

.bg-cyan {
    background-color: #008F94;
}
